*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans MT';
}

body {
    /* font-family: Arial, sans-serif; */
    text-align: center;
    background-color: #2e2e2e;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 30px;
    color: #a259ff;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 8px;
    justify-content: center;
    margin: 30px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #444;
    font-size: 2.5em;
    color: #a259ff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #555;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.1s;
}

.cell:hover {
    background-color: #555;
    transform: scale(1.03);
}

.status {
    margin: 20px;
    font-size: 1.2em;
    color: #d3d3d3;
}

button {
    background-color: #a259ff;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #923dff;
    transform: scale(1.05);
    transition: 0.3s;
}

button:not(:hover) {
    transition: 0.3s;
}

.cell.x {
    color: #a259ff;
}

.cell.o {
    color: #e0e0e0;
}

@keyframes winner-glow {
    0%, 100% {
      background-color: #666;
      transform: scale(1);
    }
    50% {
      background-color: #979797;
      transform: scale(1.1);
    }
}
  
.winner {
    animation: winner-glow 1s ease-in-out infinite;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
}

.water-mark {
    display: flex;
    position: fixed;
    bottom: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
    gap: .5rem;
}

.water-mark strong{
    color: #a259ff;
}

.water-mark img{
    width: 20px;
    height: 20px;
    opacity: 0.5;
    margin-bottom: -0.2rem;
}

.logo-png{
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1000;
}

.logo-png img{
    width: 80px;
    height: 80px;
}